*::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
*:-moz-placeholder {
	color: #000;
	opacity: 1;
}
*::-moz-placeholder {
	color: #000;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Proxima Nova';
	font-size: 16px;
	line-height: 24px;
	color: #000;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.header {
	font-size: 14px;
	line-height: 21px;
	border-bottom: 1px solid #d0d0d0;
}
.header__wrap {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.descr-logo {
	max-width: 182px;
}
.search-form input {
	height: 45px;
	background-color: #f4f4f4;
	border-radius: 6px;
	border: none;
	padding: 0 15px;
	padding-right: 35px;
	width: 100%;
}
.btn-search {
	height: 45px;
	width: 45px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
}
.search-form {
	max-width: 57%;
	position: relative;
	flex: 1;
}
.header__contacts strong {
	font-weight: 600;
	display: block;
}
.sidebar-page {
	width: 278px;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #08090a;
	height: 100%;
	z-index: 700;
}
.sidebar-page_right {
	right: 0;
	left: auto;
	display: flex;
	flex-direction: column;
}
.sidebar-page__head {
	height: 90px;
	background-color: #000205;
}
.logo {
	width: 132px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}
.logo img {
	max-width: 100%;
}
.sidebar-page_left .sidebar-page__head {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar-nav {
	padding-top: 20px;
}
.sidebar-nav a {
	padding: 33px 55px;
	display: block;
	font-weight: 600;
	color: #ffffff;
	transition: all 0.3s;
}
.sidebar-nav a:hover {
	background-color: #191919;
}
.link-phone {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}
.btn-phone {
	width: 89px;
	height: 90px;
	flex: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	background-color: #f8ea61;
	transition: all 0.3s;
}
.btn-phone:hover {
	background-color: #dacd4e;
}
.sidebar-page_right .sidebar-page__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link-email {
	color: #fff;
}
.sidebar-page__contacts {
	padding-left: 15px;
}
.sidebar-page_right .sidebar-nav a {
	padding: 20px 30px;
}
.sidebar-page_right .sidebar-nav {
	padding-top: 30px;
}
.sidebar-page__content {
	display: flex;
	flex: 1;
	justify-content: space-between;
}
.sidebar-page__buttons {
	width: 90px;
	flex: none;
	background-color: #000205;
}
.buttons-fixed {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
}
.btn-fixed {
	height: 66px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 19px;
	color: #fff;
	transition: all 0.3s;
}
.btn-fixed:hover {
	background-color: #191919;
}
.btn-fixed img {
	max-width: 22px;
}
.btn-fixed__value {
	top: 13px;
	right: 22px;
	width: 19px;
	height: 19px;
	font-size: 13px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	background-color: #f8ea61;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.list-social-fixed {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
}
.slider-billbord__item {
	height: 433px;
}
.slider-billbord__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.billbord {
	padding-top: 27px;
}
.billbord-wrap {
	position: relative;
}
.billbord-content {
	padding: 0 84px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}
.title-big {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 20px;
	font-weight: 600;
	font-family: 'Ruberoid';
}
.title-big div {
	font-size: 30px;
	line-height: 40px;
}
.title-big span {
	color: #f8ea61;
}
.descr-big {
	font-size: 20px;
	line-height: 30px;
}
.phone-form {
	display: flex;
	align-items: center;
}
.item-form {
	margin-bottom: 20px;
}
.phone-form .item-form {
	width: 200px;
	margin: 0;
}
.item-form input,
.item-form textarea {
	height: 51px;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Proxima Nova';
	padding: 0 20px;
	background-color: #fff;
	border: none;
	width: 100%;
}
.btn-main {
	height: 51px;
	padding: 0 25px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700; 
	color: #000000; 
	font-family: 'Ruberoid';
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #f8ea61;
	transition: all 0.3s;
}
.btn-main:hover {
	background-color: #dacd4e;
}
.billbord .phone-form {
	margin-top: 70px;
}
.checkbox {
	font-size: 12px;
	margin-top: 20px;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 0px 0 0 23px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid rgba(255,255,255,0.69);
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 15px;
	height: 15px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #18d15c;
	font-size: 7px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox-wrap .checkbox {
	white-space: nowrap;
}
.slick-arrow::before {
	display: none;
}
.arrows-bottom .slick-arrow {
	height: 45px;
	width: 55px;
	font-size: 14px;
	background-color: rgba(255,255,255,0.5);
	bottom: 0;
	right: 0;
	left: auto;
	top: auto;
	transform: none;
	color: #08090a;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.arrows-bottom .slick-arrow:hover {
	background-color: rgba(255,255,255,0.7);
}
.arrows-bottom .slick-prev {
	right: 55px;
	border-right: 1px solid #08090a;
}
.article h2,
.title-middle {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 600;
}
.service-block {
	padding: 25px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #f8ea61;
	position: relative;
	z-index: 1;
}
.row_services > div {
	margin-top: 22px;
}
.link-simple {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	border-bottom: 1px solid #000;
	display: inline-block;
	transition: all 0.3s;
}
.link-simple:hover {
	border-color: transparent;
}
.service-block .link-simple {
	margin-top: auto;
}
.service-block__image {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.article h1,
.title-section {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	font-family: 'Ruberoid';
}
.head-section {
	margin-bottom: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.categories {
	padding-top: 60px;
	padding-bottom: 38px;
}
.btn-main_simple {
	font-size: 14px;
	height: 36px;
	padding: 0 18px;
	font-family: 'Proxima Nova';
	font-weight: 400;
}
.item-category {
	font-size: 14px;
	line-height: 21px;
	padding: 25px;
	display: flex;
	background-color: #f4f4f4;
	flex-direction: column;
	align-items: flex-start;
	min-height: 314px;
	position: relative;
	z-index: 1;
}
.item-category__title {
	font-size: 18px;
	margin-right: -16px;
	padding-bottom: 4px;
	line-height: 1.2;
	font-weight: 700;
	color: #000000;
	border-bottom: 1px solid #000;
	display: inline-block;
	transition: all 0.3s;
}
.item-category__title:hover {
	border-color: transparent;
}
.item-category li {
	margin-top: 25px;
}
.item-category li a {
	color: #666666;
	padding-left: 15px;
	display: inline-block;
	transition: all 0.3s;
	font-weight: 600;
	position: relative;
}
.item-category li a::before {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	content: "•";
}
.item-category li a:hover {
	color: #000;
}
.btn-transparent {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	height: 47px;
	padding: 0 17px;
	background-color: #f4f4f4;
	border: 1px solid #000000;
	display: inline-flex;
	font-family: 'Proxima Nova';
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.btn-transparent:hover {
	color: #fff;
	background-color: #000000;
}
.item-category .btn-transparent {
	margin-top: auto;
}
.item-category__image {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.row_categories {
	margin: 0 -9px;
}
.row_categories > div {
	padding: 0 9px;
	margin-bottom: 18px;
}
.title-small {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
}
.head-section .title-small {
	padding-top: 10px;
}
.catalog {
	padding-top: 25px;
	padding-bottom: 29px;
	background-color: #fbfbfa;
}
.item-catalog__image {
	height: 243px;
	margin-bottom: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.catalog-info {
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.availability {
	font-weight: 600;
	color: #47a830;
}
.item-catalog__name {
	margin-bottom: 18px;
	font-weight: 600;
	color: #000;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.price-old {
	font-size: 14px;
	line-height: 21px;
	text-decoration: line-through;
	font-weight: 600;
	color: #666666;
}
.price-main {
	font-size: 20px;
	font-weight: 700;
}
.catalog-prices {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-catalog {
	padding: 17px;
	padding-bottom: 0px;
	position: relative;
	background-color: #fff;
}
.quantity {
	width: 110px;
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	display: flex;
}
.quantity-button {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	color: #2f2f39;
	font-family: 'Proxima Nova';
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 600;
}
.quantity input {
	flex: 1;
	width: 100%;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #2f2f39;
	border: none;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-family: 'Proxima Nova';
	text-align: center;
	font-weight: 600;
	background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}
.item-catalog__buttons {
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-catalog .btn-main {
	height: 40px;
	font-size: 13px;
	padding: 0 13px;
	text-transform: uppercase;
}
.btn-block {
	font-size: 13px;
	line-height: 21px;
	font-weight: 600;
	padding: 0 15px;
	height: 45px;
	background-color: #ffffff;
	border: 1px solid #000000;
	text-transform: uppercase;
	color: #000000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Ruberoid';
	transition: all 0.3s;
}
.btn-block:hover {
	color: #fff;
	background-color: #000;
}
.item-catalog .btn-block {
	width: 100%;
}
.item-catalog__bottom {
	padding-bottom: 21px;
	display: none;
	opacity: 0;
	transition: all 0.3s;
}
.item-catalog:hover .item-catalog__bottom {
	display: block;
	opacity: 1;
}
.item-catalog:hover .catalog-buttons {
	opacity: 1;
}
.catalog-statuses {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}
.status {
	min-width: 52px;
	height: 36px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	background-color: #9fc518;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.catalog-buttons {
	position: absolute;
	top: 14px;
	right: 14px;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: all 0.3s;
}
.btn-catalog {
	font-size: 21px;
	margin-bottom: 10px;
	color: #000;
	display: inline-block;
}
.btn-catalog img {
	max-width: 22px;
}
.slider-catalog .item-catalog {
	margin: 0 20px;
}
.slider-catalog {
	margin: 0 -20px;
}
.slick-arrow {
	width: 36px;
	height: 36px;
	font-size: 12px;
	top: 50%;
	background-color: #ffffff;
	color: #000 !important;
	display: flex;
	align-items: center;
	transition: all 0.3s;
	justify-content: center;
}
.slick-arrow:hover {
	background-color: #f0f0f0;
}
.slick-prev {
	left: -25px;
}
.slick-next {
	right: -25px;
}
.slider-catalog .slick-slide {
	min-height: 560px;
}
.calculation-block {
	padding: 45px 50px;
	min-height: 343px;
	color: #fff;
	background-image: url(../img/calculation_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.calculation-block__content {
	max-width: 718px;
}
.title-section span {
	color: #f8ea61;
}
.calculation-block .title-small {
	max-width: 560px;
	margin-bottom: 30px;
}
.calculation-block .title-section {
	margin-bottom: 25px;
}
.row_form {
	margin: 0 -6px;
}
.row_form > div {
	padding: 0 6px;
}
.calculation-block .item-form {
	margin: 0;
}
.calculation {
	padding: 55px 0;
}
.status_red {
	background-color: #ff2755;
}
.status_like {
	background-color: #58c9e8;
}
.status i {
	font-size: 17px;
}
.price-main sup {
	font-size: 13px;
	line-height: 0;
}
.item-catalog_page .item-catalog__image {
	height: 204px;
}
.brands-block {
	padding: 32px 35px;
	padding-bottom: 35px;
	background-color: #313842;
	color: #fff;
}
.brands-block .title-section {
	padding-bottom: 33px;
	text-align: center;
}
.item-brand {
	height: 107px;
	margin: 0 15px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border: 1px solid #000000;
}
.item-brand img {
	max-width: 100%;
	max-height: 100%;
}
.slider-brands {
	margin: 0 -15px;
}
.slider-brands .slick-arrow {
	background-color: #fbfbfa;
}
.slider-brands .slick-prev {
	left: -35px;
}
.slider-brands .slick-next {
	right: -35px;
}
.bottom-brands {
	padding-top: 35px;
	text-align: center;
}
.bottom-brands .btn-main {
	padding: 0 35px;
}
.brands {
	padding: 55px 0;
}
.advantages img {
	max-width: 100%;
	height: auto;
}
.item-advantage__head {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}
.icon-page {
	width: 47px;
	height: 47px;
	padding: 10px;
	margin-right: 16px;
	background-color: #f8ea61;
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-page img {
	max-width: 100%;
	max-height: 100%;
}
.item-advantage {
	font-size: 14px;
	line-height: 21px;
}
.item-advantage {
	margin-top: 55px;
	max-width: 278px;
}
.advantages .title-section {
	padding-top: 40px;
	padding-bottom: 22px;
}
.advantages__right {
	padding-left: 35px;
}
.slider-catalog_page .slick-slide {
	min-height: initial;
}
.slider-catalog_page {
	margin-bottom: 20px;
}
.advantages {
	padding-bottom: 58px;
}
#map-contact {
	height: 485px;
	width: 100%;
}
.contacts-block {
	color: #fff;
	background-color: #313842;
}
.contacts-block p {
	margin-bottom: 28px;
}
.contacts-block p strong {
	font-weight: 600;
	display: block;
}
.contacts-block__left {
	padding-top: 40px;
	padding-left: 55px;
}
.contacts-block .title-section {
	padding-bottom: 25px;
}
.contacts-block p a {
	color: #fff;
}
.contacts-block i {
	font-size: 18px;
	margin-left: 15px;
}
.contacts {
	padding-bottom: 62px;
}
.footer {
	padding-top: 33px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	color: #ffffff;
	background-color: #000205;
}
.footer__title {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 17px;
	font-weight: 600;
	color: #f8ea61;
	text-transform: uppercase;
	font-family: 'Ruberoid';
}
a.footer__title {
	padding-top: 0;
	display: inline-block;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.footer__nav a:hover {
	border-color: #fff;
}
.footer__nav li {
	margin-bottom: 20px;
}
.footer__content p {
	margin-bottom: 15px;
}
.footer__content p a {
	color: #fff;
}
.footer__right {
	margin-left: -70px;
}
.requisites p {
	margin: 0;
}
.requisites {
	line-height: 30px;
}
.footer__title {
	padding-top: 25px;
}
.footer__title:first-of-type {
	padding-top: 0;
}
li .footer__title {
	margin-top: 5px;
}
.footer__bottom p {
	margin: 0;
}
.footer__bottom {
	padding: 12px 0;
	font-weight: 300;
	margin-top: 15px;
	color: #c9cacc;
	border-top: 1px solid #2a2a2b;
}
.footer__bottom a {
	color: #c9cacc;
}
.create {
	letter-spacing: 0.25px;
	display: inline-flex;
	align-items: center;
}
.create img {
	max-width: 60px;
	margin-left: 10px;
}
.btn_top {
	font-size: 20px;
	float: right;
	position: relative;
	color: #fff !important;
	width: 50px;
	height: 50px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px rgba(255, 255, 255, 0.3) solid;
	background-color: transparent;
	z-index: 300;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	box-shadow: 0 0 3px #ccc;
}
#map-contact [class*="ymaps-2"][class*="-ground-pane"] {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 10px;
	height: 10px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 0.4;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	opacity: 1;
}
.footer__title i {
	display: none;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 60px;
	height: 60px;
	padding-top: 18px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 30px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 30px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 14px;
	width: 30px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.btn_nav .sandwich.active .sw-topper {
	top: 15px;
	transform: rotate(45deg);
}
.btn_nav .sandwich.active .sw-bottom {
	opacity: 0;
}
.btn_nav .sandwich.active .sw-footer {
	top: 11px;
	transform: rotate(-45deg); 
}
.catalog-rent {
	padding-top: 30px;
	margin-top: 35px;
	padding-bottom: 50px;
	background-color: #fbfbfa;
}
.catalog-rent .title-section {
	padding-bottom: 10px;
}
.item-rent {
	text-align: center;
	background-color: #313842;
	color: #fff;
	display: block;
}
.item-rent__title {
	font-size: 18px;
	padding-bottom: 18px;
	margin-bottom: 20px;
	line-height: 1.2;
	font-weight: 700;
	display: block;
	position: relative;
}
.item-rent__title::after {
	position: absolute;
	display: block;
	content: " ";
	width: 94px;
	height: 1px;
	background-color: #f8ea61;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}
.item-rent__content {
	padding: 23px 20px;
	padding-top: 93px;
	display: block;
}
.item-rent__price {
	font-weight: 700;
	display: block;
}
.item-rent__price span {
	font-size: 20px;
}
.item-rent__image {
	height: 170px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-color: #f8ea61;
	position: relative;
	z-index: 1;
}
.item-rent__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	left: 0;
	top: 100%;
	border: 151px solid transparent;
	border-top: 79px solid #f8ea61;
	z-index: -1;
}
.item-rent__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	left: 0;
	bottom: 100%;
	border: 151px solid transparent;
	border-bottom: 79px solid #f8ea61;
	z-index: -1;
}
.row_rent {
	margin: 0 -65px;
	justify-content: center;
}
.row_rent > div {
	padding: 0 65px;
	margin-top: 110px;
}
.calculation-block_rent {
	background-image: url(../img/calculation_bg2.jpg);
}
.calculation-block_rent .title-small p {
	margin-bottom: 30px;
}
.calculation-block_rent .title-small p:last-child {
	margin-bottom: 0;
}
.item-service {
	position: relative;
}
.item-service__image {
	height: 370px;
	display: block;
}
.item-service__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-service__content {
	padding: 35px 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-service .title-middle {
	margin-bottom: 35px;
	display: block;
	color: #fff;
}
.item-service li a {
	font-weight: 600;
	color: #fff;
	transition: all 0.3s;
	position: relative;
	display: inline-block;
}
.item-service li a::before {
	margin-right: 15px;
	position: relative;
	display: inline-block;
	content: "•";
	color: #f8ea61;
}
.item-service li a:hover {
	color: #f8ea61;
}
.item-service li {
	margin-bottom: 20px;
}
.item-service .btn-main {
	height: 41px;
	padding: 0 16px;
	margin-top: auto;
	font-family: 'Proxima Nova';
}
.row_serv .col-lg-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 28%;
	flex: 0 0 28%;
	max-width: 28%;
}
.row_serv > div {
	margin-top: 30px;
}
.services {
	padding-bottom: 40px;
}
.services .title-section {
	padding-bottom: 10px;
}
.item-question__head {
	padding: 10px;
	padding-left: 25px;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #313842;
}
.item-question__content {
	font-size: 14px;
	line-height: 21px;
	padding: 15px;
	padding-bottom: 10px;
	color: #000000;
	display: none;
}
.item-question__content p {
	margin-bottom: 15px;
}
.item-question__content p:last-child {
	margin-bottom: 0;
}
.item-question__icon {
	width: 30px;
	height: 30px;
	font-size: 16px;
	flex: none;
	color: #000;
	margin-left: 10px;
	background-color: #f8ea61;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-question.active .item-question__icon {
	transform: rotate(180deg);
}
.questions .title-section {
	padding-bottom: 22px;
}
.item-question {
	margin-bottom: 15px;
}
.item-question:last-child {
	margin-bottom: 0;
}
.questions {
	padding-top: 25px;
	padding-bottom: 30px;
}
.ask-block {
	height: 438px;
	padding: 32px 20px;
	padding-bottom: 42px;
	min-height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background-image: url(../img/ask_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.ask-block .btn-main {
	padding: 0 35px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	margin-top: auto;
	font-family: 'Proxima Nova';
}
.ask-block__logo img {
	max-width: 83px;
	width: 100%;
	margin: 0 auto;
}
.ask-block__logo {
	margin-bottom: 38px;
}
.text-main {
	font-size: 14px;
	line-height: 21px;
}
.text-main p {
	margin-bottom: 20px;
}
.main-section .title-section {
	margin-bottom: 22px;
}
.image-main img {
	max-width: 100%;
	height: auto;
}
.main-section {
	padding-top: 30px;
	padding-bottom: 60px;
}
.main-section__left {
	margin-right: 60px;
	padding-top: 30px;
}
.main-section__right {
	margin-left: -60px;
}
.billbord_rent .title-big {
	line-height: 1.2;
}
.breadcrumbs {
	padding: 20px 0;
	font-size: 14px;
	line-height: 21px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #000000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.breadcrumbs a:hover {
	border-color: #000;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 15px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.delivery {
	padding-top: 20px;	
	padding-bottom: 50px;
	background-color: #fbfbfa;
}
.delivery .title-section {
	padding-bottom: 25px;
}
#map {
	height: 586px;
	margin-bottom: 33px;
	width: 100%;
	background-color: #fff;
}
.tabs {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
	display: flex;
	align-items: center;
}
.tabs a {
	padding: 0 20px;
	padding-bottom: 13px;
	border-bottom: 2px solid #313842;
	color: #000;
	transition: all 0.3s;
	text-align: center;
	display: inline-block;
}
.tabs li {
	margin-right: 23px;
}
.tabs li:last-child {
	margin-right: 0;
}
.tabs a:hover,
.tabs li.active a {
	border-color: #f8ea61;
}
.tab-container li::before {
	content: "•";
	margin-right: 6px;
}
.tab-container {
	padding-top: 30px;
}
.table-price table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
}
.table-price table th {
	padding: 15px 0;
	color: #fbfbfa;
	vertical-align: top;
	font-weight: 600;
	background-color: #313842;
}
.table-price table th span {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	display: block;
	text-align: center;
}
.table-price table td {
	padding: 15px 0;
	border-bottom: 1px solid rgba(49,56,66,0.3);
	background-color: #fff;
}
.table-price table tr:last-child td {
	border: none;
}
.table-price table th:first-child,
.table-price table td:first-child {
	padding-left: 20px;
	text-align: left;
}
.table-price table th:not(:first-child),
.table-price table td:not(:first-child) {
	width: 12%;
	text-align: center;
}
.table-price {
	margin-top: 50px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.section-page {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #fbfbfa;
}
.form-page {
	padding: 20px 40px;
	margin-bottom: 35px;
	padding-bottom: 6px;
	background-color: #313842;
}
.section-page .title-section {
	padding-bottom: 25px;
}
.row_middle {
	margin: 0 -10px;
}
.row_middle > div {
	padding: 0 10px;
}
.price-big {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
	display: flex;
	align-items: center;
}
.price-big span {
	font-size: 30px;
	margin-left: 45px;
	font-weight: 700;
}
.text-small {
	font-size: 13px;
	line-height: 21px;
}
.bottom-calculator {
	padding: 25px;
	background-color: #ffffff;
}
.bottom-calculator__top {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.bottom-calculator .text-small {
	text-align: center;
}
.bottom-calculator .btn-main {
	padding: 0 36px;
	text-transform: uppercase;
}
.wrap-slider-card {
	padding: 15px 40px;
	padding-bottom: 40px;
	position: relative;
	background-color: #fff;
}
.slider-for__item {
	height: 370px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-nav__item img,
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav__item {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-for {
	margin-bottom: 25px;
}
.card-top {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.btn-card {
	color: #000;
	margin-left: 25px;
	display: inline-flex;
	align-items: center;
}
.btn-card i {
	font-size: 21px;
	margin-right: 14px;
}
.btn-card img {
	width: 20px;
	margin-right: 14px;
}
.card-top .articul {
	margin-right: auto;
}
.card-right {
	max-width: 392px;
	margin-left: 30px;
}
.card-right .availability {
	margin-bottom: 20px;
	font-size: 14px;
}
.availability i {
	font-size: 12px;
	margin-right: 10px;
}
.line-feature::after {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	content: "...............................................................................................................................................................................................";
}
.line-feature > span:nth-child(2) {
	float: right;
}
.line-feature > span:nth-child(1)  {
	float: left;
}
.line-feature {
	line-height: 30px;
}
.price-old {
	font-size: 18px;
	margin-right: 25px;
	text-decoration: line-through;
	color: #666666;
}
.price-card {
	font-size: 30px;
	margin-right: auto;
	font-weight: 700;
}
.card-bottom {
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.card-buttons {
	margin-top: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-consultation .btn-transparent,
.card-buttons .btn-main,
.card-buttons .btn-transparent {
	font-size: 13px;
	height: 45px;
	padding: 0 28px;
	font-weight: 600;
	font-family: 'Ruberoid';
	text-transform: uppercase;
}
.card-consultation .btn-transparent,
.card-buttons .btn-transparent {
	background-color: #fff;
}
.card-consultation .btn-transparent:hover,
.card-buttons .btn-transparent:hover {
	border-color: #000;
}
.card-info {
	padding-top: 30px;
	padding-bottom: 45px;
}
.wrap-features {
	columns: 2;
	column-gap: 80px;
}
.price-rent {
	font-size: 24px;
	font-weight: 700;
}
.price-rent span {
	font-size: 18px;
	font-weight: 400;
	color: #666666;
}
.card-prices {
	margin-top: 20px;
	margin-right: -40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title-block {
	font-size: 20px;
	font-weight: 700;
}
.card-consultation {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-consultation .btn-transparent {
	flex: none;
}
.card-consultation__left {
	max-width: 282px;
	font-weight: 600;
}
.slider-rent-for__item {
	height: 265px;
	display: block;
}
.slider-rent-nav__item img,
.slider-rent-for__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-rent-nav__item {
	margin: 0 15px;
	height: 81px;
	cursor: pointer;
}
.slider-rent-nav {
	margin: 0 -15px;
	margin-top: 20px;
}
.wrap-slider-card_rent {
	padding-top: 20px;
	padding-bottom: 23px;
}
.item-news {
	display: block;
	color: #000;
	min-height: 100%;
	background-color: #fff;
}
.item-news__image {
	height: 194px;
	overflow: hidden;
	display: block;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-news:hover .item-news__image img {
	transform: scale(1.05);
}
.item-news__content {
	padding: 20px 15px;
	display: block;
}
.article time,
.item-news__date {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 18px;
	display: flex;
	align-items: flex-end;
}
.article time::after,
.item-news__date::after {
	position: relative;
	display: block;
	content: " ";
	height: 1px;
	flex: 1;
	top: -5px;
	margin-left: 10px;
	background-color: #f8ea60;
}
.item-news__title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 15px;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-news__text {
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.row_news > div {
	padding: 0 10px;
	margin-bottom: 23px;
}
.row_news {
	margin: 0 -10px;
}
.pager {
	height: 36px;
	margin-top: 15px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	width: 29px;
	height: 29px;
	font-size: 13px;
	line-height: 21px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 10px;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.page-numbers:hover,
.page-numbers.current {
	background-color: #f8ea61;
}
.prev.page-numbers,
.next.page-numbers {
	width: 36px;
	height: 36px;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex !important;
}
.prev.page-numbers {
	left: 0px;
}
.next.page-numbers {
	right: 0px;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	background-color: #f8ea61;
}
.article p {
	margin-bottom: 20px;
}
.article h2 {
	margin-bottom: 20px;
	font-family: 'Ruberoid';
}
.article h1 {
	margin-bottom: 20px;
}
.article .container > img {
	margin-left: 40px;
	margin-top: 14px;
}
.article img {
	max-width: 100%;
	margin-bottom: 20px;
}
.section-page .contacts-block {
	background-color: #fff;
	color: #000;
}
.section-page .contacts-block .col-lg-7 {
	order: -1;
}
.section-page .contacts-block p a {
	color: #000;
}
.section-page .contacts-block .btn-main {
	text-transform: uppercase;
}
.section-page #map-contact [class*="ymaps-2"][class*="-ground-pane"] {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
}
.section-page .breadcrumbs {
	padding-top: 0;
}  