/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1800px) {
	.container {
		max-width: 1000px;
	}
	.billbord-content {
		padding: 0 45px;
	}
	.slider-billbord__item {
		height: 400px;
	}
	.billbord .phone-form {
		margin-top: 50px;
	}
	.title-middle {
		font-size: 22px;
	}
	.item-category__image,
	.service-block__image {
		transform: scale(0.8);
		transform-origin: 100% 100%;
	}
	.item-category {
		padding: 15px;
		min-height: 290px;
	}
	.item-category__title {
		font-size: 16px;
	}
	.slider-catalog .item-catalog {
		margin: 0 10px;
	}
	.slider-catalog {
		margin: 0 -10px;
	}
	.quantity {
		width: 95px;
	}
	.item-catalog .btn-main {
		height: 40px;
		font-size: 12px;
		padding: 0 12px;
	}
	.item-catalog .btn-block {
		font-size: 12px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.item-catalog__image {
		height: 215px;
	}
	.item-catalog {
		padding: 12px;
		padding-bottom: 0px;
	}
	.row_catalog > div,
	.slider-catalog .slick-slide {
		min-height: 522px;
	}
	.calculation-block {
		padding: 30px 25px;
		min-height: 320px;
	}
	.calculation-block__content {
		max-width: 695px;
	}
	.title-section {
		font-size: 29px;
	}
	.item-catalog_page .item-catalog__image {
		height: 177px;
	}
	.item-brand {
		margin: 0 10px;
	}
	.advantages__right {
		padding-left: 15px;
	}
	.advantages .title-section {
		padding-top: 20px;
	}
	.title-small {
		font-size: 17px;
	}
	.item-advantage {
		margin-top: 26px;
	}
	.footer__bottom {
		font-size: 13px;
	}
	.slider-catalog_page .slick-slide {
		min-height: initial;
	}
	.slick-prev {
		left: -26px;
	}
	.slick-next {
		right: -26px;
	}
	.billbord_rent .title-big {
		font-size: 34px;
	}
	.row_rent {
		margin: 0 -30px;
	}
	.row_rent > div {
		padding: 0 30px;
		margin-top: 110px;
	}
	.item-rent__image::before {
		border: 141px solid transparent;
		border-bottom: 72px solid #f8ea61;
	}
	.item-rent__image::after {
		border: 141px solid transparent;
		border-top: 72px solid #f8ea61;
	}
	.questions .title-section {
		font-size: 25px;
	}
	.item-question {
		margin-bottom: 12px;
	}
	.item-question__content {
		font-size: 13px;
		line-height: 20px;
	}
	.main-section__left {
		padding-top: 0;
	}
	.text-main p {
		margin-bottom: 14px;
	}
	.table-price table {
		font-size: 14px;
	}
	.table-price table th span {
		font-size: 12px;
	}
	.text-small {
		font-size: 12px;
		line-height: 19px;
	}
	.article {
		font-size: 15px;
		line-height: 22px;
	}
	.card-consultation,
	.card-right {
		margin-left: 20px;
	}
	.title-block {
		font-size: 18px;
	}
	.card-consultation__left {
		font-size: 14px;
		line-height: 24px;
		max-width: 235px;
	}
	.item-catalog_rent {
		padding-bottom: 24px;
	}
	.item-catalog_rent .price-main {
		font-size: 20px;
	}
	.row_catalog {
		margin: 0 -10px;
	}
	.row_catalog > div {
		padding: 0 10px; 
		margin-bottom: -40px;
	}
	.item-equipment__image {
		width: 320px;
		height: 254px;
		margin-right: 15px;
	}
	.item-equipment__content {
		padding-right: 20px;
	}
	.item-equipment .wrap-features {
		column-gap: 35px;
		font-size: 14px;
	}
	.item-equipment .price-rent span {
		font-size: 16px;
	}
	.item-equipment .price-rent {
		font-size: 22px;
	}
	.filter-catalog__wrap .item-select {
		margin-right: 12px;
		margin-bottom: 12px;
	}
}
@media only screen and (max-width : 1600px) {
	.sidebar-page {
		width: 230px;
	}
	.sidebar-nav a {
		padding: 33px 22px;
	}
	.link-phone {
		font-size: 15px;
		line-height: 19px;
	}
	.sidebar-page__contacts {
		font-size: 12px;
		padding-left: 10px;
	}
	.sidebar-page__buttons,
	.btn-phone {
		width: 69px;
	}
	.btn-fixed__value {
		top: 13px;
		right: 13px;
	}
	.logo {
		width: 105px;
	}
	.btn-phone,
	.sidebar-page__head {
		height: 69px;
	}
	.sidebar-page_right .sidebar-nav a {
		padding: 20px 17px;
	}
	.row_serv .col-lg-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 31%;
		flex: 0 0 31%;
		max-width: 31%;
	}
}

@media only screen and (max-width : 1500px) {
	.container {
		max-width: 900px;
	}
	.item-category__image, .service-block__image {
		transform: scale(0.7);
		transform-origin: 100% 100%;
	}
	.title-middle {
		font-size: 19px;
	}
	.service-block {
		height: 180px;
	}
	.slider-catalog .item-catalog {
		margin: 0 20px;
	}
	.slider-catalog {
		margin: 0 -20px;
	}
	.quantity {
		width: 110px;
	}
	.item-catalog .btn-main {
		font-size: 13px;
		padding: 0 13px;
	}
	.title-small {
		font-size: 15px;
	}
	.item-advantage {
		font-size: 13px;
		line-height: 20px;
	}
	.item-advantage__head {
		margin-bottom: 14px;
	}
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.title-section {
		font-size: 26px;
	}
	.advantages .title-section {
		padding-top: 12px;
		padding-bottom: 15px;
	}
	.calculation-block__content {
		max-width: 635px;
	}
	.calculation-block .title-small {
		max-width: 464px;
		margin-bottom: 21px;
	}
	.calculation-block .btn-main {
		padding: 0 20px;
	}
	.calculation-block {
		padding: 30px 25px;
		min-height: 300px;
	}
	.row_categories > div {
		padding: 0 4px;
		margin-bottom: 10px;
	}
	.row_categories {
		margin: 0 -4px;
	}
	.item-category__title {
		font-size: 15px;
	}
	.item-category li {
		margin-top: 20px;
	}
	.item-category {
		padding: 15px;
		min-height: 265px;
	}
	.slider-billbord__item {
		height: 340px;
	}
	.title-big {
		font-size: 31px;
		line-height: 32px;
		margin-bottom: 15px;
	}
	.title-big div {
		font-size: 26px;
		line-height: 41px;
	}
	.descr-big {
		font-size: 17px;
		line-height: 24px;
	}
	.billbord .phone-form {
		margin-top: 35px;
	}
	.slick-prev {
		left: -19px;
	}
	.slick-next {
		right: -19px;
	}
	.billbord_rent .title-big {
		font-size: 31px;
	}
	.item-rent__image::before {
		border: 125px solid transparent;
		border-bottom: 58px solid #f8ea61;
	}
	.item-rent__image::after {
		border: 125px solid transparent;
		border-top: 58px solid #f8ea61;
	}
	.item-rent__image img {
		transform: scale(0.9);
	}
	.item-rent__title {
		font-size: 16px;
		padding-bottom: 14px;
		margin-bottom: 16px;
	}
	.item-rent__price span {
		font-size: 18px;
	}
	.item-rent__content {
		padding-top: 80px;
	}
	.price-big span {
		font-size: 26px;
		margin-left: 27px;
	}
	.price-big {
		font-size: 16px;
	}
	.card-right {
		margin-left: 0;
	}
	.item-news__image {
		height: 165px;
	}
	.item-news__title {
		font-size: 18px;
	}
	.article .container > img {
		max-width: 370px;
	}
	.contacts-block__left {
		padding-top: 40px;
		padding-left: 30px;
	}
	.card-consultation {
		margin-left: 0;
	}
	.item-inert__image {
		width: 190px;
		margin-right: 18px;
	}
	.row_catalog .quantity {
		width: 95px;
	}
	.row_catalog > div {
		padding: 0 5px;
		margin-bottom: -55px;
	}
	.category-catalog {
		width: 12%;
		margin: 0 9px;
		margin-bottom: 18px;
		font-size: 13px;
	}
	.row_catalog .item-catalog .btn-main {
		font-size: 11px;
		padding: 0 8px;
	}
	.item-equipment__image {
		width: 290px;
		height: 232px;
	}
	.item-equipment .wrap-features {
		column-gap: 20px;
		font-size: 13px;
	}
}


@media only screen and (max-width : 1400px) {
	.container {
		max-width: 800px;
	}
	.sidebar-page {
		width: 195px;
	}
	.header,
	.item-category {
		font-size: 12px;
		line-height: 19px;
	}
	.title-middle {
		font-size: 17px;
	}
	.sidebar-nav a {
		padding: 25px 15px;
	}
	.sidebar-page_right .sidebar-nav a {
		padding: 17px 12px;
	}
	.sidebar-page__contacts {
		font-size: 10px;
		padding-left: 8px;
	}
	.link-phone {
		font-size: 13px;
		line-height: 18px;
	}
	.sidebar-page__buttons, .btn-phone {
		width: 49px;
	}
	.btn-phone, .sidebar-page__head {
		height: 49px;
	}
	.logo {
		width: 90px;
	}
	.btn-fixed__value {
		top: 18px;
		right: 5px;
	}
	.slider-catalog .item-catalog {
		margin: 0 10px;
	}
	.slider-catalog {
		margin: 0 -10px;
	}
	.quantity {
		width: 99px;
	}
	.icon-page {
		margin-right: 5px;
		width: 40px;
		height: 40px;
	}
	.title-small {
		font-size: 14px;
	}
	.title-section {
		font-size: 23px;
	}
	.advantages .title-section {
		padding-top: 0;
	}
	.item-advantage {
		margin-top: 17px;
	}
	.row_services {
		margin: 0 -5px;
	}
	.row_services > div {
		padding: 0 5px;
	}
	.row_rent > div {
		padding: 0 15px;
	}
	.row_rent {
		margin: 0 -15px;
	}
	.item-rent__image::before {
		border: 118px solid transparent;
		border-bottom: 56px solid #f8ea61;
	}
	.item-rent__image::after {
		border: 118px solid transparent;
		border-top: 56px solid #f8ea61;
	}
	.item-rent__image {
		height: 143px;
	}
	.item-rent__image img {
		transform: scale(0.8);
	}
	.item-service__content {
		padding: 33px 20px;
	}
	.row_serv {
		margin: 0 -7px;
	}
	.row_serv > div {
		padding: 0 7px;
	}
	.table-price table th span {
		font-size: 11px;
	}
	.form-page {
		padding: 20px 25px;
		padding-bottom: 6px;
	}
	.article h1 {
		font-size: 26px;
	}
	.article h2 {
		font-size: 20px;
	}
	.contacts-block__left {
		padding-top: 40px;
		padding-left: 15px;
	}
	.price-rent {
		font-size: 21px; 
	}
	.price-rent span {
		font-size: 16px;
	}
	.card-prices {
		margin-right: 0;
	}
	.wrap-slider-card_rent {
		padding: 20px;
	}
	.slider-rent-nav__item {
		margin: 0 7px;
	}
	.slider-rent-nav {
		margin: 0 -7px;
		margin-top: 15px;
	}
	.item-inert .table-price table {
		font-size: 12px;
	}
	.item-inert {
		margin-bottom: 30px;
	}
	.row_catalog .price-main {
		font-size: 18px;
	}
	.row_catalog .price-old {
		font-size: 16px;
	}
	.item-equipment .wrap-features {
		columns: 1;
		font-size: 14px;
	}
	.item-equipment .price-rent {
		margin-right: 30px;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.sidebar-page {
		display: none;
	}
	.container {
		max-width: 920px;
	}
	.header__wrap {
		display: none;
	}
	.header {
		border: none;
		background-color: #08090a;
	}
	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 900;
	}
	.btn-phone {
		width: 60px;
		height: 60px;
	}
	.wrapper {
		padding-top: 60px;
	}
	.header .container {
		padding: 0;
	}
	.mobile-buttons {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 800;
		background-color: #08090a;
	}
	.buttons-fixed {
		padding-top: 0;
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.btn-fixed {
		flex: 1;
	}
	.btn-fixed__value {
		top: 14px;
		left: 50%;
	}
	.mobile-menu {
		padding: 20px 15px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
		background-color: #08090a;
		padding-bottom: 120px;
		display: none;
	}
	.search-form {
		max-width: 100%;
	}
	.mobile-menu .menu li a {
		color: #fff;
		padding: 10px 0;
		display: block;
		border-bottom: 1px solid #fff;
	}
	.mobile-menu .menu {
		margin-bottom: 20px;
	}
	.list-social-simple {
		margin-top: 15px;
		display: flex;
		align-items: center;
	}
	.list-social-simple a {
		font-size: 18px;
		color: #fff;
		display: inline-block;
		margin-right: 15px;
	}
	.footer {
		padding-bottom: 70px;
	}
	.catalog-rent {
		margin-top: 0;
	}
	.row_rent > div {
		padding: 0 45px;
	}
	.row_rent {
		margin: 0 -45px;
	}
	.row_catalog .quantity {
		width: 99px;
	}
	.row_catalog .item-catalog .btn-main {
		font-size: 13px;
		padding: 0 13px;
	}
	.row_catalog .price-old {
		font-size: 18px;
	}
	.row_catalog .price-main {
		font-size: 20px;
	}
	.item-equipment .wrap-features {
		columns: 2;
		font-size: 13px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.row_services {
		margin: 0 -5px;
	}
	.row_services > div {
		padding: 0 5px;
	}
	.service-block {
		padding: 25px 15px;
	}
	.item-catalog .btn-main {
		font-size: 12px;
		padding: 0 13px;
	}
	.slider-catalog .item-catalog {
		margin: 0 5px;
	}
	.item-catalog__bottom {
		display: block;
		opacity: 1;
	}
	.slider-catalog .slick-slide {
		min-height: initial;
	}
	.item-brand {
		margin: 0 5px;
	}
	.advantages .title-section {
		padding-top: 15px;
	}
	.advantages {
		padding-bottom: 45px;
	}
	.contacts-block__left {
		padding-bottom: 25px;
	}
	#map-contact {
		height: 390px;
	}
	.contacts {
		padding-bottom: 45px;
	}
	.item-rent {
		max-width: 290px;
		margin: 0 auto;
	}
	.item-rent__image::before {
		border: 145px solid transparent;
		border-bottom: 69px solid #f8ea61;
	}
	.item-rent__image::after {
		border: 145px solid transparent;
		border-top: 69px solid #f8ea61;
	}
	.ask-block {
		margin-top: 30px;
		min-height: initial;
	}
	.main-section {
		padding-top: 0;
		padding-bottom: 40px;
	}
	.text-main {
		font-size: 14px;
		line-height: 21px;
	}
	.item-question__content {
		font-size: 14px;
		line-height: 21px;
	}
	.main-section__right,
	.main-section__left {
		margin: 0; 
	}
	.wrap-slider-card {
		margin-bottom: 30px;
	}
	.item-news__image { 
		height: 194px;
	}
	.contacts-block__left {
		padding-left: 50px;
	}
	.slider-rent-nav__item {
		height: 105px;
	}
	.slider-rent-for__item {
		height: 315px;
	}
	.item-inert__image {
		width: 172px;
		margin-right: 10px;
	}
	.category-catalog {
		width: 12%;
		margin: 0 7px;
		margin-bottom: 17px;
		font-size: 13px;
	}
	.row_catalog > div {
		min-height: initial;
		margin-bottom: 20px;
		padding: 0 10px;
	}
	.row_catalog {
		margin: 0 -10px;
	}
	.item-equipment .wrap-features {
		columns: 1;
		font-size: 14px;
	}
	.item-equipment .price-rent {
		margin-right: 21px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.billbord-content {
		padding: 0 15px;
	}
	.title-big {
		font-size: 23px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.title-big div {
		font-size: 21px;
		line-height: 30px;
	}
	.billbord {
		margin: 0 -15px;
	}
	.descr-big {
		font-size: 16px;
		line-height: 24px;
	}
	.billbord .phone-form {
		margin-top: 15px;
	}
	.header, .item-category {
		font-size: 14px;
		line-height: 21px;
	}
	.item-category__title {
		font-size: 17px;
	}
	.item-category__image, .service-block__image {
		transform: scale(0.9);
		transform-origin: 100% 100%;
	}
	.slider-catalog {
		margin: 0 -5px;
	}
	.slider-catalog {
		padding-bottom: 30px;
	}
	.quantity {
		width: 115px;
	}
	.item-catalog .btn-main {
		font-size: 13px;
		padding: 0 24px;
	}
	.brands,
	.calculation {
		padding: 35px 0;
	}
	.calculation-block .item-form {
		margin-bottom: 20px;
	}
	.calculation-block .btn-main {
		width: 100%;
	}
	.head-section {
		display: block;
	}
	.head-section .btn-main {
		margin-top: 15px;
	}
	.slider-brands {
		padding-bottom: 30px;
	}
	.slider-brands .slick-dots li button {
		background-color: #fff;
	}
	.bottom-brands {
		padding-top: 25px;
	}
	.item-advantage {
		max-width: 100%;
	}
	.contacts-block__left {
		padding-top: 20px;
		padding-left: 35px;
	}
	.contacts-block p {
		margin-bottom: 20px;
	}
	.footer__content {
		display: none;
		padding-top: 15px;
	}
	.footer__title {
		padding: 15px 0 !important;
		display: flex !important;
		margin: 0;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #f8ea61;
		font-size: 15px;
	}
	.footer__right {
		margin: 0;
	}
	.footer {
		padding-top: 25px;	
	}
	.footer__bottom {
		border: none;
		margin-top: 5px;
		text-align: center;
	}
	.footer__bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.btn_top {
		float: none;
	}
	.footer__title i {
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(45deg);
	}
	.billbord {
		padding-top: 0;
	}
	.billbord_rent .title-big {
		font-size: 24px;
	}
	.item-rent__image img {
		transform: scale(0.9);
		position: relative;
		top: 20px;
	}
	.catalog-rent {
		padding-bottom: 35px;
	}
	.row_serv {
		display: block;
	}
	.row_serv .col-lg-3 {
		max-width: 100%;
	}
	.item-question__head {
		font-size: 16px;
		padding-left: 15px;
	}
	#map {
		height: 390px;
	}
	.tabs {
		font-size: 16px;
	}
	.tabs a {
		padding: 0 10px;
		padding-bottom: 10px;
	}
	.tabs li {
		margin-right: 14px;
	}
	.table-price {
		margin-top: 30px;
		margin-right: -15px;
		overflow: auto;
	}
	.table-price table {
		width: 800px;
	}
	.table-price::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.table-price::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.table-price::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.table-price::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .5);
		border-radius: 10px;
	}
	.table-price::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #ccc;
	}
	.breadcrumbs {
		padding: 15px 0;
	}
	.bottom-calculator__top {
		margin-bottom: 15px;
		display: block;
		text-align: center;
	}
	.price-big {
		justify-content: center;
	}
	.bottom-calculator .btn-main {
		padding: 0 30px;
		margin-bottom: 15px;
	}
	.slider-for__item {
		height: 325px;
	}
	.wrap-features {
		column-gap: 15px;
	}
	.card-info {
		padding-bottom: 30px;
	}
	.pager {
		margin-top: 0;
	}
	.article .container > img {
		float: none !important;
		margin-left: 0;
	}
	.image-desktop {
		display: none;
	}
	.article .row {
		margin: 0 -5px;
	}
	.article .row > div {
		padding: 0 5px;
	}
	.article p {
		margin-bottom: 15px;
	}
	.article {
		font-size: 14px;
		line-height: 21px;
	}
	.article .container > img {
		max-width: 100%;
		margin-top: 0;
	}
	.slider-rent-for__item {
		height: 250px;
	}
	.slider-rent-nav__item {
		height: 78px;
	}
	.item-inert {
		margin-right: -15px;
	}
	.item-inert .table-price table {
		width: 600px;
	}
	.category-catalog {
		width: 22%;
	}
	.item-sorting {
		margin-left: 0px;
		margin-right: 20px;
	}
	.sorting-wrap__title {
		margin-right: 20px;
	}
	.row_catalog .quantity {
		width: 115px;
	}
	.row_catalog .item-catalog .btn-main {
		padding: 0 24px;
	}
	.item-select .jq-selectbox__trigger {
		width: 19px;
	}
	.item-select .jq-selectbox__select-text {
		padding-right: 27px;
	}
	.item-equipment {
		padding: 20px;
		display: block;
	}
	.item-equipment__image {
		margin: 0 auto;
		width: 100%;
		height: initial;
		margin-bottom: 20px;
	}
	.item-equipment .title-middle {
		margin-bottom: 15px;
	}
	.item-equipment__content {
		padding-right: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.descr-big { 
		font-size: 14px;
		line-height: 21px;
	}
	.phone-form .item-form {
		width: 170px;
	}
	.phone-form .btn-main {
		font-size: 13px;
		padding: 0 13px;
	}
	.slider-billbord__item {
		height: 380px;
	}
	.billbord-content {
		padding-top: 30px;
		justify-content: flex-start;
	}
	.item-category__image, .service-block__image {
		transform: scale(0.9);
		transform-origin: 100% 100%;
	}
	.categories {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.brands, .calculation {
		padding: 0;
	}
	.brands-block,
	.calculation-block {
		margin: 0 -15px;
		padding: 30px 15px;
	}
	.slider-brands {
		margin: 0 -5px;
	}
	.advantages {
		padding-top: 25px;
		padding-bottom: 35px;
	}
	.contacts-block {
		margin: 0 -15px;
	}
	.contacts {
		padding-bottom: 0;
	}
	.item-category__image {
		transform: scale(1);
		transform-origin: 100% 100%;
	}
	.footer__nav li {
		margin-bottom: 15px;
	}
	.billbord_rent .title-big {
		font-size: 23px;
	}
	.row_rent > div {
		margin-top: 95px;
	}
	.services {
		padding-top: 30px;
	}
	.item-service__image {
		height: 345px;
	}
	.row_serv > div {
		margin-top: 20px;
	}
	.ask-block {
		height: 400px;
	}
	.questions {
		padding-bottom: 20px;
	}
	#map {
		margin: 0 -15px;
		margin-bottom: 25px;
		width: initial;
	}
	.tabs {
		font-size: 14px;
		justify-content: space-between;
	}
	.tabs li {
		margin: 0;
	}
	.tabs a {
		padding: 0;
		padding-bottom: 10px;
	}
	.tab-container {
		padding-top: 20px;
	}
	.table-price table {
		line-height: 18px;
	}
	.table-price {
		margin-top: 20px;
	}
	.form-page {
		padding: 20px 15px;
		padding-bottom: 3px;
	}
	.breadcrumbs li::after {
		margin: 0 6px;
	}
	.wrap-slider-card {
		padding: 15px 15px;
		padding-bottom: 25px;
	}
	.slider-for {
		margin-bottom: 15px;
	}
	.btn-card {
		margin-left: 10px;
	}
	.card-buttons .btn-main, .card-buttons .btn-transparent {
		font-size: 12px;
		height: 42px;
		padding: 0 18px;
	}
	.card-buttons {
		margin-top: 25px;
	}
	.card-bottom {
		margin-top: 25px;
	}
	.price-card {
		font-size: 26px;
	}
	.price-old {
		font-size: 16px;
		margin-right: 20px;
	}
	.card-info .tabs a {
		padding: 0 10px;
		padding-bottom: 10px;
	}
	.wrap-features {
		columns: initial;
	}
	.article h1 {
		font-size: 23px;
	}
	.article h2 {
		font-size: 18px;
	}
	.article {
		padding-bottom: 20px;
	}
	.slider-rent-for__item {
		height: 210px;
	}
	.slider-rent-nav__item {
		height: 65px;
	}
	.price-rent {
		font-size: 18px;
	}
	.price-rent span {
		font-size: 14px;
	}
	.card-consultation {
		margin-top: 20px;
		display: block;
	}
	.card-consultation .btn-transparent {
		margin-top: 20px;
	}
	.filter-catalog {
		margin: 0 -15px;
		padding: 15px;
		margin-top: 15px;
		margin-bottom: 23px;
	}
	.filter-catalog__wrap .item-select {
		margin-right: 4px;
		margin-bottom: 9px;
	}
	.filter-catalog__wrap .item-select .jq-selectbox__select-text {
		padding-left: 10px;
	}
	.category-catalog {
		width: 29%;
	}
	.category-catalog__image {
		height: 87px;
		margin-bottom: 10px;
	}
	.modal-wrap {
		padding: 13px 20px;
		padding-bottom: 23px;
	}
	.item-equipment {
		padding: 15px;
		padding-bottom: 22px;
	}
	.item-equipment .price-rent {
		margin-right: 8px;
		font-size: 16px;
	}
	.price-rent span {
		font-size: 13px;
	}
	.item-equipment .wrap-features {
		margin-bottom: 17px;
	}
	.item-inert__image {
		width: 210px;
		margin-bottom: 15px;
	}
	.item-inert__wrap {
		display: block;
	}
}
@media only screen and (max-width : 335px) {
	.category-catalog {
		width: 28%;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.footer__content {
		display: block !important;
	}
	.image-mobile {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.mobile-menu,
	.mobile-buttons,
	.header-mobile {
		display: none !important;
	}
}
@media (min-width: 1800px) {
	.container {
		max-width: 1200px;
	}
}